<div class="playground__container">

    <div class="playground__header">
      <gisa-tag-group [tags]="tags"></gisa-tag-group>
    </div>
    <div class="playground__content">
      <section #chatHistory class="playground__main"  ngClass="{{isFull ? 'playground__main--fullscreen' : ''}}">
        <gisa-chat-history [isEmpty]="isEmpty" [messages]="chat"></gisa-chat-history>
      </section>

      <aside class="playground__aside" ngClass="{{isFull ? 'playground__aside--fullscreen' : ''}}">
        <gisa-prompt-history (changeCollapse)="handleFullscreen($event)" [prompts]="chat" class="playground__tab-history"></gisa-prompt-history>
      </aside>
    </div>
    <gisa-load *ngIf="isLoading"></gisa-load>

</div>
