.aside {
  &__container {
    position: relative;
    max-height: 90%;
    // border-left: 1px solid #959595;
    right: 0;
    scrollbar-width: none;
    overflow-y: auto;
    &.collapsed {
      overflow: hidden;
      border-left: none;
      right: -98%;
    }
    transition: all 0.3s;
  }
  &__header {
    max-width: 85%;
    font-weight: 400;
    font-size: 18px;
    color: #2B2B2B;
    padding: 20px;
    padding-bottom: 0;
    top: 0;
    background-color: #D5E1E9;
    position: sticky;
    &.collapsed {
      display: none;
    }
  }
  &__collapse-icon {
    position: absolute;
    top: 45%;
    left: unset;
    cursor: pointer;
    z-index: 1;
    &.collapsed {
      width: 60px;
      right: -72px;
      z-index: 1;
      left: unset;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    min-height: 400px;
    max-height: 90%;
    width: 90%;
    opacity: 1;
    overflow-y: auto;
    &.collapsed {
      display: none;
    }
    transition: all 0.3s;
    &__item {
      button {
        width: 100%;
        border: none;
        background: none;

      }
      p {
        cursor: pointer;
        width:90%;
        padding: 26px 16px;
        font-size: 16px;
        font-weight: 500;
        background-color: #FBFBFB;
        color: #001F62;
        margin-bottom: 10px;
        border-radius: 8px;
        text-align: left;
      }
    }
  }
}
